*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #f9f7f6; }

body {
  box-sizing: border-box; }

body {
  font-family: Myriad-Pro, Regular, Myriad Pro Regular, MyriadPro, Myriad Pro, Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal; }

.heading-primary {
  backface-visibility: hidden; }
  .heading-primary--main {
    color: #f9f7f6;
    display: block;
    font-size: 3.5rem;
    letter-spacing: .8rem;
    white-space: nowrap; }
  .heading-primary--sub {
    display: block;
    font-size: 1.6rem;
    color: #f9f7f6;
    letter-spacing: 1rem; }

.heading-secoundary {
  backface-visibility: hidden; }
  .heading-secoundary--main {
    color: #404040;
    display: block;
    font-size: 3.5rem;
    letter-spacing: .4rem; }
  .heading-secoundary--sub {
    color: #404040;
    display: block;
    font-size: 3.5rem; }

.heading-tetriary {
  backface-visibility: hidden; }
  .heading-tetriary--main {
    color: #404040;
    display: block;
    font-size: 3.5rem;
    letter-spacing: .3rem; }
  .heading-tetriary--sub {
    color: #404040;
    display: block;
    font-size: 3.5rem;
    letter-spacing: 1.5rem; }

.heading-quad {
  backface-visibility: hidden; }
  .heading-quad--main {
    color: #aaa;
    display: block;
    font-size: 1.5rem;
    letter-spacing: .3rem; }
  .heading-quad--sub {
    color: #404040;
    display: block;
    font-size: 3.5rem;
    letter-spacing: 1.5rem; }

.paragraph {
  font-size: 1.6rem; }

.u-margin-buttom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-buttom-medium {
  margin-bottom: 4rem !important; }

.u-margin-buttom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-heading-center {
  text-align: center; }

.section {
  position: relative; }
  .section__main-tekstbox {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%); }

.citatbox__background {
  background-color: #0f7d3f;
  display: flex;
  justify-content: center; }

.citatbox__paragraph {
  margin: auto;
  color: #f9f7f6; }

.citatbox__heading {
  margin: auto;
  text-align: right; }

.citatbox__photo {
  width: 15rem;
  height: 15rem; }

.citatbox__photo--maniplulation {
  height: 100%;
  clip-path: circle(40% at 50% 50%); }

.citatbox--centering {
  width: 60%; }

.citatbox__textCentering {
  text-align: right; }

.nyheder__gridBox {
  overflow: hidden; }

.nyheder__photo {
  width: 100%; }

.nyheder__heading {
  width: 100%;
  font-size: 2.3rem;
  color: #0f7d3f;
  text-decoration: none;
  font-weight: bold; }

.nyheder__size {
  height: 100%; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 2rem; }

.btn--green {
  background-color: #18c965;
  color: #f9f7f6;
  font-size: 1.4rem;
  padding: 1.5rem 2rem; }

.btn--transperant {
  background-color: transparent;
  color: #404040;
  font-size: 1.6rem;
  text-transform: none !important;
  border-bottom: 2px solid #0f7d3f;
  margin-left: 1.6rem; }

.cards__photo {
  width: 100%;
  height: 53%; }

.cards__paragragph {
  margin-left: 1.6rem; }

.cards__heading {
  margin-left: 1.6rem;
  color: #0f7d3f; }

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(24, 201, 101, 0.8)), url(../css/img/hero.jpg);
  background-size: cover;
  position: relative; }
  .header__center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0%); }

::after {
  content: "";
  display: table;
  clear: both; }

.row {
  max-width: 100%;
  margin: 0 auto;
  padding: .8rem; }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 1.5rem; }

.col-1-of-3 {
  width: calc((100% - 2 * 1.5rem) / 3);
  height: 80vh; }

.col-1-of-2 {
  width: calc((100% - 1.5rem) / 2); }

.col-2-of-3 {
  width: calc(2 * ((100% - 2 * 1.5rem) / 3) +  1.5rem);
  height: 60vh; }

.col-1-of-4 {
  width: calc((100% - 3 * 1.5rem) / 4); }
