//Farver
//GRØN 
$color-primary-light: #18c965;
$color-primary-dark: #0f7d3f;

//TEXT-FARVE
$color-text-dark: #404040;
$color-text-light: #f9f7f6;

//GRÅ
$color-grey-bg: #f9f7f6;
$color-grey: #aaa;

//SORT
$color-black: #000000;

//DEFAULT FONT-SIZE
$default-font-size: 1.6rem;

//GRID
$grid-width: 100%;
$gutter-horizontal: 6rem;