//MARGIN BUTTOM
.u-margin-buttom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-buttom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-buttom-big {
    margin-bottom: 8rem !important;
}

//MARGIN TOP 
.u-margin-top-small {
    margin-top: 1.5rem !important;
}

.u-margin-top-medium {
    margin-top: 4rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

.u-heading-center {
    text-align: center;
}