.section {
    position: relative;
    &__main-tekstbox {
        @include AbsCenter;
    }
}

.citatbox {
    
    &__background {
        background-color: $color-primary-dark;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__paragraph {
        margin: auto;
    }

    &__heading {
        margin: auto;
    }

    &__photo {

    }
}